/SonicPlayer.xcodeproj/project.xcworkspace/xcuserdata/hsawaed.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
.DS_Store
/SonicPlayer.xcodeproj/xcuserdata/hsawaed.xcuserdatad/xcschemes/xcschememanagement.plist
xcschememanagement.plist
